NEXT_PUBLIC_APP_URL=http://localhost:3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/email_gen
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_SIGN_IN_URL=/sign-in
CLERK_SIGN_UP_URL=/sign-up
OPENAI_API_KEY=
BROWSERBASE_API_KEY=
BROWSERBASE_PROJECT_ID=
BLOB_READ_WRITE_TOKEN=
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
