.env
.env.local
.env.*.local

node_modules/
.next/
coverage/
dist/
*.tsbuildinfo
.vercel/
.turbo/

drizzle/*.sqlite
drizzle/meta/_journal.json.lock

.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.idea/
# clerk configuration (can include secrets)
/.clerk/
.agents